.modal {
  &__body {
    background: white;
    border-radius: 10px;
    position: fixed;
    box-shadow: 0px 3px 14px #00000033;
    z-index: 11;
    top: 40%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
    animation: slide-in 0.35s cubic-bezier(0.04, 0.84, 0.75, 1.07);
    @media screen and (max-width: 768px) {
      width: 90%;
      height: initial;
      margin-top: 0;
      margin-left: -45%;
      top: 10%;
    }
  }

  &__black-layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    background-color: #000000b3;
    z-index: 10;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
